<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    
	<http auto-config="true">
		
		<access-denied-handler error-page="/403" />
		<intercept-url pattern="/inside" access="ROLE_USER" />
		<intercept-url pattern="/adminview*" access="ROLE_ADMIN" />
		<intercept-url pattern="/settings*" access="ROLE_ADMIN" />
		<intercept-url pattern="/settingsAdd*" access="ROLE_ADMIN" />
		<intercept-url pattern="/users*" access="ROLE_ADMIN" />
		<intercept-url pattern="/userAdded*" access="ROLE_ADMIN" />
		<intercept-url pattern="/edituser*" access="ROLE_ADMIN" />
		<intercept-url pattern="/userEdited*" access="ROLE_ADMIN" />
		<intercept-url pattern="/teamAdded*" access="ROLE_ADMIN" />
		<intercept-url pattern="/userRemoved*" access="ROLE_ADMIN" />
		<intercept-url pattern="/confirmedComm*" access="ROLE_ADMIN" />
		<intercept-url pattern="/teamRemoved*" access="ROLE_ADMIN" />
		<intercept-url pattern="/superUser*" access="ROLE_SUPERUSER" />
		<intercept-url pattern="/deptAdded*" access="ROLE_SUPERUSER" />
		<intercept-url pattern="/SUuserAdded*" access="ROLE_SUPERUSER" />
		
		
		
		<form-login login-page="/user-login.html" 
			default-target-url="/success-login.html"
			authentication-failure-url="/error-login.html" />
		<logout logout-success-url="/index.html" />

		
	</http>
	
	<beans:bean id="my403"
	class="com.ericsson.init.MyAccessDeniedHandler">
	<beans:property name="errorPage" value="403" />
	</beans:bean>
	
	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder hash="plaintext" />
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>